### Modulo 2 Tarea 5 // Ejercicio 1

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('DelayedFlights.csv', index_col= 0)
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [48]:
df_n = df[['FlightNum', 'AirTime', 'Distance', 'ArrDelay', 'CarrierDelay', 'Cancelled', 'arribos tardios', 'velocidad media']]
df_n.head()

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
0,335,116.0,810,-14.0,NaN,0,Sin Demora,6.982759
1,3231,113.0,810,2.0,NaN,0,Arribo Tarde,7.168142
2,448,76.0,515,14.0,NaN,0,Arribo Tarde,6.776316
4,3920,77.0,515,34.0,2.0,0,Arribo Tarde,6.688312
5,378,87.0,688,11.0,NaN,0,Arribo Tarde,7.908046

### Datos faltantes por columna

In [62]:
df_n.isnull()

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
0,False,False,False,False,True,False,False,False
1,False,False,False,False,True,False,False,False
2,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...
7009710,False,False,False,False,False,False,False,False
7009717,False,False,False,False,False,False,False,False
7009718,False,False,False,False,False,False,False,False
7009726,False,False,False,False,True,False,False,False
7009727,False,False,False,False,True,False,False,False

### Resumen estadÃ­stico de las columnas de interÃ©s

In [49]:
df_n.describe()

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,velocidad media
count,1.936758e+06,1.928371e+06,1.936758e+06,1.928371e+06,1.247488e+06,1.936758e+06,1.928371e+06
mean,2.184263e+03,1.082771e+02,7.656862e+02,4.219988e+01,1.917940e+01,3.268348e-04,inf
std,1.944702e+03,6.864261e+01,5.744797e+02,5.678472e+01,4.354621e+01,1.807562e-02,NaN
min,1.000000e+00,0.000000e+00,1.100000e+01,-1.090000e+02,0.000000e+00,0.000000e+00,3.548387e-01
25%,6.100000e+02,5.800000e+01,3.380000e+02,9.000000e+00,0.000000e+00,0.000000e+00,5.864407e+00
50%,1.543000e+03,9.000000e+01,6.060000e+02,2.400000e+01,2.000000e+00,0.000000e+00,6.730337e+00
75%,3.422000e+03,1.370000e+02,9.980000e+02,5.600000e+01,2.100000e+01,0.000000e+00,7.469136e+00
max,9.742000e+03,1.091000e+03,4.962000e+03,2.461000e+03,2.436000e+03,1.000000e+00,inf

In [50]:
df_n.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1936758 entries, 0 to 7009727
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   FlightNum        int64
 1   AirTime          float64
 2   Distance         int64
 3   ArrDelay         float64
 4   CarrierDelay     float64
 5   Cancelled        int64
 6   arribos tardios  object
 7   velocidad media  float64
dtypes: float64(4), int64(3), object(1)
memory usage: 133.0+ MB

df.isnull()

### Columna de velocidad media

In [51]:
df_n['velocidad media'] = df_n['Distance']/df_n['AirTime']
df_n.head()

/var/folders/lp/yxkb1h012b5ghgw2qx_j5g9w0000gn/T/ipykernel_41565/2821269395.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['velocidad media'] = df_n['Distance']/df_n['AirTime']

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
0,335,116.0,810,-14.0,NaN,0,Sin Demora,6.982759
1,3231,113.0,810,2.0,NaN,0,Arribo Tarde,7.168142
2,448,76.0,515,14.0,NaN,0,Arribo Tarde,6.776316
4,3920,77.0,515,34.0,2.0,0,Arribo Tarde,6.688312
5,378,87.0,688,11.0,NaN,0,Arribo Tarde,7.908046

### Columna de arribos tardios

In [52]:
def arribos_tardios(x):
    if x > 0:
        return "Arribo Tarde"
    else: 
        return "Sin Demora"
df_n['arribos tardios'] = df_n['ArrDelay'].apply(arribos_tardios)
df.head()

/var/folders/lp/yxkb1h012b5ghgw2qx_j5g9w0000gn/T/ipykernel_41565/3006694261.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['arribos tardios'] = df_n['ArrDelay'].apply(arribos_tardios)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,velocidad media,arribos tardios
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,0,N,0,NaN,NaN,NaN,NaN,NaN,6.982759,Sin Demora
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,0,N,0,NaN,NaN,NaN,NaN,NaN,7.168142,Arribo Tarde
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,0,N,0,NaN,NaN,NaN,NaN,NaN,6.776316,Arribo Tarde
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,0,N,0,2.0,0.0,0.0,0.0,32.0,6.688312,Arribo Tarde
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,0,N,0,NaN,NaN,NaN,NaN,NaN,7.908046,Arribo Tarde

### Vuelos con mayor atrasos acumulado

In [53]:
prom_carry_d = df_n['CarrierDelay'].mean()

In [54]:
carry_delay = df_n[df_n['CarrierDelay']> prom_carry_d]
carry_delay.head()

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
26,188,143.0,1093,47.0,40.0,0,Arribo Tarde,7.643357
49,186,59.0,359,304.0,282.0,0,Arribo Tarde,6.084746
52,3154,60.0,359,35.0,26.0,0,Arribo Tarde,5.983333
57,1580,77.0,484,30.0,26.0,0,Arribo Tarde,6.285714
82,1171,65.0,487,50.0,50.0,0,Arribo Tarde,7.492308

### Vuelos mas largos

In [56]:
prom_airtime = df_n['AirTime'].mean()

In [57]:
vuelos_mas_largos = df_n[df_n['AirTime']>prom_airtime]
vuelos_mas_largos.head()

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
0,335,116.0,810,-14.0,NaN,0,Sin Demora,6.982759
1,3231,113.0,810,2.0,NaN,0,Arribo Tarde,7.168142
6,509,230.0,1591,57.0,10.0,0,Arribo Tarde,6.917391
16,675,213.0,1489,15.0,3.0,0,Arribo Tarde,6.990610
17,1144,205.0,1489,-15.0,NaN,0,Sin Demora,7.263415

### Vuelos con mÃ¡s atrasados

In [58]:
prom_demora = df_n['ArrDelay'].mean()
prom_demora

42.19988477321014

In [61]:
vuelos_mas_atrasados = df_n[df_n['ArrDelay'] > prom_demora]
vuelos_mas_atrasados.head(9)

,FlightNum,AirTime,Distance,ArrDelay,CarrierDelay,Cancelled,arribos tardios,velocidad media
6,509,230.0,1591,57.0,10.0,0,Arribo Tarde,6.917391
11,1333,107.0,828,80.0,8.0,0,Arribo Tarde,7.738318
26,188,143.0,1093,47.0,40.0,0,Arribo Tarde,7.643357
30,362,134.0,972,64.0,5.0,0,Arribo Tarde,7.253731
37,422,118.0,765,72.0,3.0,0,Arribo Tarde,6.483051
49,186,59.0,359,304.0,282.0,0,Arribo Tarde,6.084746
53,1035,81.0,587,49.0,7.0,0,Arribo Tarde,7.246914
77,1574,36.0,180,62.0,0.0,0,Arribo Tarde,5.000000
79,500,60.0,487,43.0,15.0,0,Arribo Tarde,8.116667

In [64]:
df_n.shape

(1936758, 8)

### Exportamos el archivo

In [70]:
df_n.to_csv('VuelosDemorados.csv', header=True, index=False)